<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'css/data.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mastars.css' %}">


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

<!-- Font-awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<!-- date picker-->
    <link href= 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'> 
      
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" > </script> 
      
    <script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" > </script> 
</head>


<body>
<div class="container" id="total">
        <div class="alert alert-success " id="msg">
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <strong  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </strong>
              {% endfor %}
            </ul>
          {% endif %}
      </div>
    
                    <div class="B">
                        <div class="btn-group btn-lg  " id="color">
                            <a href="" class="btn btn-default" role="button">Company Master</a>
                            <a href=""  class="btn btn-default" role="button">Generic Master</a>
                            <a href="/drug_master" class="btn btn-default" role="button">Drug Master</a>
                        </div>
                    </div>
                    
	<div class="aside">
	    <nav class="navbar navbar-expand-md">
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
			    <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
		    </button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class=" navbar-nav">
				    <a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="#">Dashboard</a>
					<a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="'#'">Subscription Master</a>
					<a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="#">Subscriber Registry</a>
					<a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="#">Pharmacy Master</a>
					<a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="#">Laboratory Master</a>
					<a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="#">Recently Added</a>
					<a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="#">Reword Master</a>
					<a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="#">Anncouncement </a>
					<a class="nav-link {% ifequal request.path '#'%} active {% endifequal%}" href="#">Contact List </a>
				</div>
			</div>
		</nav>
	</div>
                         
                        {% block content %}
    
                        {% endblock %}
                    </div>
</div>
{% block js %}{% endblock js %}

</body>
</html>