table, th, td {
    border: 0.5px solid rgb(32, 26, 26);
  
  }
  .filters-groups input{
    width: 112px;
  
  }
 #middle1{
    border-style: solid;
    border-width: 1px;
    margin-left: 10%;
} 


.return{
    align: left;    

}
#cancel{
    align-content: center;
}


.profile{
    border-style: solid;
    border-width: 1px;

} 

  #color{
  margin-top: 0%;    
  display: flex;
  justify-content: center;
  }

#btn2:{
        background:  white;
    }
 #btn2:visited {
        background: rgb(58, 116, 224);
      }
#a1{
    margin-top: 1%;
    text-align: center;
}      
#msg{

    text-align: center;
}
      
      
